/* Color Palette */

:root {
    --palette-black: #1B281B;
    --palette-orange: #FAB95B;
    --palette-navy: #1A3263;
    --palette-bluegrey: #547792;
}

/* CSS Reset */

* {
    box-sizing: border-box;
}

/* Text Properties */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    color: var(--palette-black);
}

h1 {
    font-size: 6rem;
    color: var(--palette-navy);
    text-align: center;
    /* background-color: red; */

    @media (width < 738px) {
        font-size: 3rem;
    }

}

#logo {
    /* writing-mode: vertical-lr; */
}

/* @media (width < 738px) {
    h1 {
        font-size: 3rem;
    } 
}*/

h2 {
    font-size: 3rem;
    color: var(--palette-orange);
    /* background-color: blue; */
}

.bluegrey-text {
    color: var(--palette-bluegrey);
}

p {
    /* background-color: pink; */
    /* inline-size: 50%; */
    /* padding: 100px; */
    /* border: 50px solid black; */
    /* margin: 100px; */
}

/* Wrapper */

.wrapper {
    max-inline-size: 800px;
    margin-inline: auto;
}

/* Images */

.banner {
    inline-size: 100%;
}

.logo {
    inline-size: 3em;
}

/* Links */

ul {
    list-style-type: circle;
}

.nav-list {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

/* Links */

a {
    color: var(--palette-bluegrey);
    /* background-color: yellow; */
    padding-inline: 10px;
    display: block;
}

a:hover,
a:focus-visible {
    color: var(--palette-orange);
}

/* Header */

/* header {
    display: flex;
} */

/* Footer */

footer {
    text-align: center;
    background-color: var(--palette-bluegrey);
    color: white;
    /* block-size: 200px; */
    padding: 50px;
    border: 2px solid var(--palette-black);
}


